{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
	<style type="text/css">
		.important { color: #336699; }
	</style>
{% endblock %}
{% block content %}
	<h1>Index</h1>
	<p class="important">
		Welcome to my awesome homepage.
	</p>

	{# -------macro------ #}
	{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">
	{%- endmacro %}
	{#|---|#}
	<p>{{ input('username') }}</p>
	<p>{{ input('password', type='password') }}</p>
	{# ------------------ #}
{% endblock %}
